body{
  background-color: rgb(243, 243, 244);
}
.imageh{
  height:100px;
  background-size: cover;
  /* background-color: #74c1fc93; */
}
.imageh:hover{
  height:110px;
}
.imagew1{
  height:200px;
  background-size: cover;
}
.imagew1:hover{
  height:220px;
}
.imagehh{
  
    height:110px;
    background-size: cover;
}

.imagehh:hover{
    height:120px
  
}
.addtocart{
  color: #63e6be;
  background: aliceblue;
  font-weight: 700;
  border: 3px solid cadetblue;
  height:40px; 
}
.addtocart:hover{
  color: #63e6be;
  background: aliceblue;
  font-weight: 700;
  border: 3px solid cadetblue;
  height:44px;
}
.addto{color: hotpink;
   background:rgb(251, 230, 255);
    font-weight:700;
    border:3px solid pink;
    height:40px;
  }
  .addto:hover{
    color: hotpink;
   background:rgb(251, 230, 255);
    font-weight:700;
    border:3px solid pink;
    height:44px;
  }
  .placeorder{
    color: #63e6be;
    background: aliceblue;
    font-weight: 700;
    font-size: 20px;
    border: 3px solid cadetblue;
    height:45px; 
  }
  .placeorder:hover{
      color: #63e6be;
      background: aliceblue;
      font-weight: 700;
      font-size: 20px;
      border: 3px solid cadetblue;
      height:49px; 
  }